@import url("variables.css");

.app {
  display: grid;
  padding: 30px;
}

.filter {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.search {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.search:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
html,
body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: var(--primary-font);
  /* background-image: var(--hero-image); */
  /* background-image: url("../../images_and_styling/coffee.jpg"); */
  background-image: url("../../images_and_styling/coffee.jpg");

  background-size: cover; /* Cover the entire element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the image */
}

div {
  /* background-color: var(--nice-peach); */
  /* background-image: var(--hero-image); */
}
