@import url("variables.css");

.item img {
  width: 50%;
  margin: 10px;
}

.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  border-radius: 20px;
  margin: 10px;
  background-color: var(--subdued-blue);
}
